*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #eaeaea; 
}
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider i {
    color: black;
    cursor: pointer;
    scale: 4;
    z-index: 10;
}
.slider img {
    box-shadow: 0 20px 60px rgba(0,0,0,0.25);
    width: 90%;
    height: 90%;
    border-radius: 10px;
    transition: all 0.4s ease;
}

/* Responsive */

/* Tablet */
@media (max-width: 768px) {
    .slider img {
        width: 95%;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .slider {
        flex-direction: row;
    }

    .slider img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
